
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: #333;
    --type-second: 'Spectral', Georgia;
    --grey-fill: #FCFBFC;
    --grey-stroke: #E4E4E4;
    font-family: "Inter", sans-serif;
    padding-top: 4rem;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

h1 {
    font-weight: 300;
}

ui, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

button, input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
    color: #333;
}

a {
    text-decoration: none;
}

.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}
